{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="airbnb, booking, city guide, directory, events, hotel booking, listings, marketing, places, restaurant, restaurant">
<meta name="description" content="Guido - Directory & Listing HTML Template">
<meta name="CreativeLayers" content="ATFN">
<!-- css file -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%} ">
<link rel="stylesheet" href="{% static 'css/style.css'%} ">
<!-- Responsive stylesheet -->
<link rel="stylesheet" href="{% static 'css/responsive.css'%}">
<!-- Title -->
<title>Star Wars</title>
<!-- Favicon -->
<link href="{% static 'images/favicon.ico' %}" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
<link href="{% static 'images/favicon.ico' %}" sizes="128x128" rel="shortcut icon" />

</head>
<body>
<div class="wrapper">
	<div class="preloader"></div>
	<!-- Listing Search Option -->
	<section class="bgc-f4 pt0-767 bg-img2">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-8">
					<div class="home_adv_srch_opt text-center">
						<div class="wrapper">
							<div class="home_adv_srch_form">
								<form class="bgc-white bgct-767 pl30 pt10 pl0-767">
									<div class="form-row align-items-center">
										<div class="col-auto home_form_input mb20-xsd">
											  <div class="input-group style1 mb-2 mb0-767">
												<div class="input-group-prepend">
													<div class="input-group-text pl0 pb0-767">Pelicula</div>
												</div>
												<div class="select-wrap style1-dropdown">
													<select name="peliculaa" class="form-control js-searchBox">
														{% for Pelicula in lista_peliculas %}
														<option value="">{{Pelicula.id}}. {{Pelicula.nombre}} </option>
														 {% endfor %}
													</select>
												</div>
											  </div>
										</div>
										<div class="col-auto home_form_input">
										  
											  <div class="input-group style2 mb-2 mb0-767">
												<div class="input-group-prepend">
													<div class="input-group-text pb0-767">Raza</div>
												</div>
												<div class="select-wrap style2-dropdown">
													<select name="lang" class="form-control js-searchBox2">

														{% for Raza in lista_razas %}
															   <option value="{{Raza.id}}"{% if Raza == raza_seleccionada %}selected="selected"{% endif %}>{{Raza.id}}. {{Raza.nombre}}
															   </option>
														{% endfor %}

													</select>
												</div>
											  </div>
										</div>
										<div  class="col-auto home_form_input2">

											<button method=POST  type="submit" name="search" value="{" class="btn search-btn mb-2">
											
											</span></button>
											
									   
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Listing Grid View -->
	<section class="our-listing pb30-991">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
					<!--{% for Personajes in lista_personajes %} 
						<div class="thumb"><a href="#"><img src="{{Personajes.image}}" alt=""></a></div>
										<h4>{{Personajes.nombre}}</h4>
										<p>{{Personajes.actor}}</p>
					-->	
						<div class="col-md-6 col-lg-4">
							<div class="feat_property">
								<div class="details">
									<div class="tc_content">
										<h4> {{razaseleccionada}}</h4>
									</div>
								</div>
							</div>
						</div>
					<!-- {% endfor %} -->	
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our Footer -->
	<section class="footer_one home1">
		<div class="container pb70">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
					<div class="footer_contact_widget">
						<h4>Contacto</h4>
						<ul class="list-unstyled">
							<li class="text-white df"><span class="flaticon-pin mr15"></span><a href="#">Sotera De La Lina, Sestao 43232, Bizkaia</a></li>
							<li class="text-white"><span class="flaticon-phone mr15"></span><a href="#">+946 654 852</a></li>
							<li class="text-white"><span class="flaticon-email mr15"></span><a href="#">support@kolditoStarWars.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-2 col-xl-3">
					<div class="footer_qlink_widget">
						
					</div>
				</div>
				<div class="col-sm-5 col-md-6 col-lg-2 col-xl-2">
					<div class="footer_qlink_widget pl0">
				
						</ul>
					</div>
				</div>
				<div class="col-sm-7 col-md-6 col-lg-4 col-xl-4">
					<div class="footer_social_widget">
						<h4>Subscribirse</h4>
						<p class="text-white mb20">Suscribete para noticias sobre StarWars.</p>
						<form class="footer_mailchimp_form">
							<div class="form-row align-items-center">
								<div class="col-auto">
									<input type="email" class="form-control" id="inlineFormInput" placeholder="Enter your email">
									<button type="submit" class="btn btn-primary">Subscribeme</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="container pt20 pb30">
			<div class="row">
				<div class="col-md-4 col-lg-4">
					<div class="copyright-widget mt10 mb15-767">
						<p>© StarWars - Todos los derechos reservados.</p>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="footer_logo_widget text-center mb15-767">
						<div class="wrapper">
							<div class="logo text-center">
								<span class="logo_title text-white pl15">Star Wars</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="footer_social_widget text-right tac-smd mt10">
						<ul class="mb0">
							<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
<a class="scrollToHome" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- Wrapper End -->
<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.mmenu.all.js' %}"></script>
<script src="{% static 'js/ace-responsive-menu.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/snackbar.min.js' %}"></script>
<script src="{% static 'js/simplebar.js' %}"></script>
<script src="{% static 's/parallax.js' %}"></script>
<script src="{% static 'js/scrollto.js' %}"></script>
<script src="{% static 'js/jquery-scrolltofixed-min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/progressbar.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/timepicker.js' %}"></script>
<!-- Custom script for all pages --> 
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>